<div class="outer-div">

  <div class="row">
    <div class="col-md-1">
      <label>Task:</label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" id="task">
    </div>
    <div class="col-md-1">
      <label>Parent Task:</label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" id="parentTask">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <label>Priority From:</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control" id="pFrom">
    </div>
    <div class="col-md-1">
      <label>Priority To:</label>
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control" id="pTo">
    </div>
    <div class="col-md-1">
      <label>Start Date:</label>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control" id="startDate">
    </div>
    <div class="col-md-1">
      <label>End Date:</label>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control" id="endDate">
    </div>

  </div>

  <div>
    <hr style="border: solid 1px blue; margin: 0 1% 0 1%;">
  </div>

  <div *ngFor="let task of tasks">
    <div class="row">
      <div class="col-md-2">
        <h6>Task</h6><br>
        {{task.task}}
      </div>
      <div class="col-md-2">
        <h6>Parent</h6><br>
        {{task.parentTaskId?.parentTask}}
      </div>
      <div class="col-md-1">
        <h6>Priority</h6><br>
        {{task.priority}}
      </div>
      <div class="col-md-2">
        <h6>Start</h6><br>
        {{task.startDate | date: 'dd/MM/yyyy'}}
      </div>
      <div class="col-md-2">
        <h6>End</h6><br>
        {{task.endDate | date: 'dd/MM/yyyy'}}
      </div>
      <div class="col-md-1">
        <h6>Status</h6><br>
        {{task.status | titlecase}}
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary" id="edit" (click)="editTask(task._id)" [disabled]="task.status == 'completed'">Edit</button>
        <button class="btn btn-secondary" id="delete" (click)="endTask(task._id)" [disabled]="task.status == 'completed'">End</button>
      </div>
    </div>
    <div>
      <hr class="ruler">
    </div>
  </div>

</div>